:root {
  /* Colors */
  --cabinet-main-color: #5b5b5b;
  --cabinet-top-color: #474747;
  --cabinet-side-color: #323232;
  --cabinet-dark-color: #1a1a1a;
  --cabinet-bottom-color: #0d0d0d;
  --drawer-front-color: #303030;
  --drawer-handle-color: #adadad;
  --drawer-inside-color: #e6e6e6;
  --drawer-back-color: #d9d9d9;
  --drawer-base-color: #fff;

  /* Transitions */
  --transition-speed: 0.25s;

  /* Dimensions */
  --cabinet-height: 200;
  --cabinet-width: 150;
  --cabinet-depth: 140;
  --frame-thickness: 10;
  --drawer-gap: 5;
  --drawer-count: 2;

  /* Computed Spacing */
  --drawer-size: calc(
    (var(--cabinet-height) / var(--drawer-count)) - var(--frame-thickness)
  );
  --drawer-hole: calc(
    (
        var(--cabinet-height) -
          (
            (var(--frame-thickness) * (var(--drawer-count) + 1)) +
              (var(--frame-thickness) + 10)
          )
      ) /
      var(--drawer-count)
  );
}

.cabinet-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.cabinet {
  height: calc(var(--cabinet-height) * 1px);
  width: calc(var(--cabinet-width) * 1px);
  transform: rotateX(-30deg) rotateY(40deg);
  position: relative;
  /* This should trickle down to children */
  transform-style: preserve-3d;
}

.cabinet__panel {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
}

.cabinet__panel:after {
  content: "";
  height: 100%;
  width: 100%;
  /* This nudges the panels against each other */
  display: block;
}

.cabinet__panel--front {
  /* Put front panel in place */
  transform: translate3d(0, 0, calc(var(--cabinet-depth) / 2 * 1px));
}

.cabinet__panel--front:after {
  background: var(--cabinet-main-color);
  content: "";
  height: 4px;
  position: absolute;
  top: -2px;
}

.cabinet__panel--front-frame {
  border: calc(var(--frame-thickness) * 1px) solid var(--cabinet-main-color);
  border-bottom-width: 30px;
  width: 88%;
  height: 80%;
}

.cabinet__panel--front-frame:before {
  background: var(--cabinet-main-color);
  content: "";
  height: 20px;
  /* Slightly overlap with frame to avoid stray lines popping up  */
  left: -1px;
  width: 105%;
  position: absolute;
  top: calc(var(--drawer-hole) * 1px);
}

.cabinet__panel--back {
  background: var(--cabinet-main-color);
  transform: translate3d(0, 0, calc(var(--cabinet-depth) / 2 * -1px));
}

.cabinet__panel--top {
  background: var(--cabinet-top-color);
  bottom: 100%;
  height: calc(var(--cabinet-depth) * 1px);
  left: 0;
  transform: rotateX(90deg) translate3d(0, 50%, 1px);
  transform-origin: bottom;
}

/* User's not gonna see this, but might as well add */
.cabinet__panel--bottom {
  background: var(--cabinet-top-color);
  height: calc(var(--cabinet-depth) * 1px);
  left: 0;
  top: 100%;
  transform: translateY(-50%) rotateX(90deg);
}

.cabinet__panel--right {
  background: var(--cabinet-side-color);
  right: 0;
  transform: translate3d(0, 0, calc(var(--cabinet-depth) / 2 * 1px))
    rotateY(-90deg);
  transform-origin: right center;
  width: calc(var(--cabinet-depth) * 1px);
}

.cabinet__panel--left {
  width: calc(var(--cabinet-depth) * 1px);
  left: 0;
  background: var(--cabinet-side-color);
  transform-origin: left center;
  transform: translate3d(0, -1px, calc(var(--cabinet-depth) / 2 * 1px))
    rotateY(90deg);
}

/* Nudge the panel into place */
.cabinet__panel--left:after {
  background: var(--cabinet-dark-color);
  transform: translate3d(0, 0, 1px);
}

.cabinet-drawer {
  height: calc(var(--drawer-size) * 1px);
  left: 0;
  position: absolute;
  top: 0;
  transition: transform var(--transition-speed);
  transform-style: preserve-3d;
  width: 100%;
}

.cabinet-drawer--top,
.cabinet-drawer--bottom {
  transform: translate3d(0, 0, calc(var(--cabinet-depth) * 0.51px));
}

.cabinet-drawer--top {
  top: calc(var(--drawer-gap) * 1px);
  z-index: 2;
}

.cabinet-drawer--bottom {
  top: calc((var(--drawer-size) + (var(--drawer-gap) * 2)) * 1px);
  z-index: 1;
}

.cabinet-drawer details,
.cabinet-drawer summary {
  background: var(--drawer-front-color);
  cursor: pointer;
  height: 100%;
  left: 0;
  list-style: none;
  position: absolute;
  outline: 0;
  top: 0;
  transition: transform var(--transition-speed);
  transform: translate3d(0, 0, 0);
  width: 100%;
}

.cabinet-drawer details:after,
.cabinet-drawer summary:after {
  background: var(--drawer-handle-color);
  content: "";
  height: 5%;
  left: 50%;
  position: absolute;
  top: 10%;
  transform: translate(-50%, 0);
  width: 40%;
}

.cabinet-drawer details::-webkit-details-marker,
.cabinet-drawer summary::-webkit-details-marker {
  display: none;
}

.cabinet-drawer--top details:hover:not([open]) {
  transform: translate3d(0, 0, calc(var(--cabinet-depth) * 0.05px));
}

.cabinet:hover .cabinet-drawer--top details,
.cabinet:hover .cabinet-drawer--top .cabinet-drawer__structure,
.cabinet-drawer details[open],
.cabinet-drawer details[open] ~ .cabinet-drawer__structure {
  transform: translate3d(0, 0, calc(var(--cabinet-depth) * 0.5px));
}

.cabinet-drawer__panel {
  position: absolute;
}

.cabinet-drawer__panel--left {
  background: var(--drawer-inside-color);
  bottom: 0;
  height: calc(var(--drawer-hole) * 0.65px);
  left: 10px;
  transform: translate3d(0, -16px, -2px) rotateY(90deg);
  transform-origin: left;
  width: calc(var(--cabinet-depth) * 1px);
}

.cabinet-drawer__panel--right {
  background: var(--drawer-inside-color);
  bottom: 0;
  height: calc(var(--drawer-hole) * 0.65px);
  right: 10px;
  transform: translate3d(0, -16px, -2px) rotateY(-90deg);
  transform-origin: right;
  width: calc((var(--cabinet-depth) - 3) * 1px);
}

.cabinet-drawer__panel--bottom {
  background: var(--drawer-base-color);
  bottom: 18px;
  height: calc(var(--cabinet-depth) * 1px);
  left: 10px;
  transform: rotateX(90deg) translate3d(0, -2px, 0);
  transform-origin: bottom center;
  width: calc(100% - (2px * 10));
}

.cabinet-drawer__panel--back {
  align-items: center;
  background: var(--drawer-back-color);
  bottom: 16px;
  display: flex;
  height: calc(var(--drawer-hole) * 0.65px);
  justify-content: center;
  left: 10px;
  transform: translate3d(0, 0, calc((var(--cabinet-depth) - 2) * -1px));
  width: calc(100% - (2px * 10));
}

.cabinet-drawer__structure {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  transition: transform var(--transition-speed);
  width: 100%;
}
